.profile-main{
    width: 100%;
    height: calc(100vh - 62px);
}
.identity{
    border-radius: 50%;
    background-color: var(--greenColor);
    min-height: 11%;
    min-width: 20%;
}
.iden h1{
    border-radius: 50%;
    background-color: var(--greenColor);
    padding: 20px 30px;
    color: white;
}

.orders{
    background-color: var(--mainColor);
}













